body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    background-color: #1F1F1F;
    font-family: Nunito;
}
* {
    outline: none;
}
#welcome1,#welcome2,#welcome3 {
    text-align: center;
    transition: .4s;
    filter: blur(0);
    height: 100vh;
    width: 100vw;
    position: absolute;
}
#welcome1.hidden,#welcome2.hidden,#welcome3.hidden {
    opacity: 0;
    filter: blur(100px);
    pointer-events: none;
}
#img-lamp {
    width: 200px;
    height: auto;
    float: left;
}
#img-phone {
    width: 284px;
    height: auto;
    float: right;
}
#img-thumbsup {
    width: 50vh;
    height: auto;
    position: absolute;
    left: -10vh;
    top: 20vh;
    -webkit-animation: thumbs 13s infinite ease;
            animation: thumbs 13s infinite ease;
    transform-origin: center left;
}
.welcome-title {
    color: white;
    font-size: 30px;
}
.welcome-text {
    color: white;
    opacity: .8;
    font-size: 13px;
    width: 60%;
    left: 20%;
    position: absolute;
    bottom: 120px;
    font-weight: 500;
}
.welcome-text.white {
    opacity: 1;
}
.welcome-text.up {
    bottom: auto;
}
.household-name {
    color: #9C88FF;
    font-weight: 900;
}
.welcome-key {
    color: white;
    width: 65%;
    height: 65px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 31px;
    font-weight: 900;
    font-family: Nunito;
    font-size: 55px;
    background-color: #1F1F1F;
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;
}
.btn-big {
    margin-top: 20px;
    background-color: #9C88FF;
    color: white;
    width: 65%;
    height: 55px;
    border-radius: 31px;
    font-weight: 900;
    font-family: Nunito;
    font-size: 20px;
    border: none;
    transition: .3s;
    position: absolute;
    bottom: 50px;
    left: 17.5%;
}
.btn-big:hover {
    opacity: .6;
}
.btn-small {
    margin-top: 20px;
    background-color: #9C88FF;
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 31px;
    font-weight: 900;
    font-family: Nunito;
    font-size: 20px;
    border: none;
    transition: .3s;
    position: absolute;
    bottom: 50px;
    right: 10%;
}
.btn-small.loading {
    opacity: .2;
    -webkit-animation: shake 1s infinite;
            animation: shake 1s infinite;
}
.circle-wrap {
    padding: 0;
    margin-top: 20px;
    width: 65%;
    height: 11px;
    position: absolute;
    bottom: 50px;
    left: 17.5%;
    list-style: none;
    display: flex;
    justify-content: center; 
}
.circle-wrap li {
    margin: 0 10px;
}
.circle {
    width: 11px;
    height: 11px;
    background-color: white;
    opacity: .2;
    border-radius: 100%;
}
.circle.active {
    background-color: #9C88FF;
    opacity: 1;
}
@-webkit-keyframes thumbs {
    0% { transform: translate(0, 0) rotate(3deg); }
   
    50% { transform: translate(-0.1px, 2px) rotate(-4deg); }
    
    100% { transform: translate(0, 0) rotate(3deg); }
  }
@keyframes thumbs {
    0% { transform: translate(0, 0) rotate(3deg); }
   
    50% { transform: translate(-0.1px, 2px) rotate(-4deg); }
    
    100% { transform: translate(0, 0) rotate(3deg); }
  }

#head {
    background-color: #1F1F1F;
    width: 100vw;
    height: 50px;
    max-height: 50px;
    top: 0;
    position: fixed;
    z-index: 2;

    padding: 0 16px;
}
.title {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.options {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: #9C88FF;
    position: absolute;
    right: 50px;
    top: 8px;
    text-align: center;
}
.options svg {
    height: 20px;
    margin-top: 6.5px;
    fill: white;
}
.options-item {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #9C88FF;
    position: absolute;
    right: 60px;
    bottom: 17.5px;
    text-align: center;
}
.options-item svg {
    height: 20px;
    margin-top: 7.5px;
    fill: white;
}
#done-btn {
    width: 51px;
    height: 33px;
    border-radius: 16px;
    background-color: #9C88FF;
    position: absolute;
    right: 50px;
    top: 8px;
    text-align: center;
    color: white;
    font-family: 'nunito';
    font-weight: 600;
    line-height: 2;
    padding: 0 5px;
}
#done-btn.hide {
    display: none;
}

#content {
    background-color: #222222;
    height: 100%;
    width: 91%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 66px 16px 0 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.category {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    position: relative;
}
.category::after {
    position: absolute;
    content: '';
    height: 4px;
    background-color: white;
    opacity: .1;
    top: 45%;
    right: 0;
    border-radius: 10px;
}
.category-rooms::after {
    width: 75%;
}
.room {
    border-radius: 13px;
    background-color: white;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 20px;
    transition: .3s;
    box-shadow: 0 2px 6px 1px #0000001f;
}
.room:first-of-type {
    margin-top: 0;
}
.room.edit {
    margin-left:35px;
    -webkit-animation: shake 2s;
            animation: shake 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.room-items.edit {
    margin-left:35px;
    -webkit-animation: shake 2s;
            animation: shake 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.room-delete {
    border-radius: 100%;
    background-color: #FD1015;
    height: 25px;
    width: 25px;
    position: absolute;
    left: -38px;
    top: 35px;
}
.room-delete.hide {
    display: none;
}
.room-delete::before,.room-delete::after {
    content: '';
    width: 2.5px;
    height: 17.5px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 11px;
    top: 4px;
    transition: .4s;
    transform: rotate(45deg);
}
.room-delete::after {
    transform: rotate(-45deg);
}
.room-name {
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
    line-height: 2;
}
.room-light-status {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
    opacity: .5;
}
#content-rooms {
    margin-bottom: 180px;
}
.light-switch {
    border-radius: 100%;
    border: none;
    background-color: #FD1015;
    height: 35px;
    width: 35px;
    transition: .1s ease-in-out;
    position: absolute;
    right: 15px;
    top: 15px;
}
.light-switch-item {
    border-radius: 100%;
    border: none;
    background-color: #FD1015;
    height: 35px;
    width: 35px;
    transition: .1s ease-in-out;
    position: absolute;
    right: 15px;
    bottom: 17.5px;
}
.light-switch.active,.light-switch-item.active {
    background-color: #57DE72;
}
.light-switch.loading,.light-switch-item.loading {
    background-color: #222222;
}
.light-switch::before,.light-switch-item::before {
    content: '';
    width: 5px;
    height: 17.5px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 8.75px;
    transition: .4s;
}
.light-switch.active::before,.light-switch-item.active::before {
    width: 17.5px;
    height: 17.5px;
    border-radius: 100%;
    left: 8.75px;
    top: 8.75px;
}
.light-switch.loading::before,.light-switch-item.loading::before {
    width: 17.5px;
    height: 17.5px;
    border-radius: 10%;
    left: 8.75px;
    top: 8.75px;
}
.room-panel {
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 100px;
    z-index: 10;
}
.room-items {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    justify-content: space-between; 
    background-color: white;
    margin-top: -15px;
    padding-top: 15px;
    border-radius: 0 0 13px 13px;
    transition: .3s;
}
.item {
    height: 70px;
    position: relative;
    margin-top: 10px;
}
.item::after {
    content: '';
    width: 90%;
    height: 3px;
    background-color: #222;
    opacity: .1;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.item:last-of-type::after {
    content: none;
}
.item:last-of-type {
    margin-right: 0;
}
.item h1 {
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
    line-height: 2;
}

.item-type {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
    opacity: .5;
    line-height: 0.5;
}

#menu {
    background-color: #4B4B4B;
    border-radius: 31px;
    height: 88px;
    width: 96vw;
    left: 2vw;
    bottom: 2vw;
    position: fixed;
    z-index: 2;
}
#menu .unavailable {
    opacity: .1;
}
.icons-wrapper {
    padding: 20px 27px;
    /* padding: 0; */
    margin: 0;
    list-style: none;
    display: flex;
}
.icons-wrapper svg {
    height: 30px;
    width: auto;
    color: #9C88FF;
    /* fill: #9C88FF; */
    margin-right: 34px;
}
.icons-wrapper svg:last-of-type {
    margin-right: 0;
}

.space-between { 
    justify-content: space-between; 
}
#backgroundOverlay{
    background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
}
#popup{
    background-color: #9C88FF;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 500;
    padding: 10px;
    border-radius: 13px;
    border-top-right-radius: 0;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    right: 83px;
    top: 42px;
    display: none;
    font-size: 18px;
}
#popup hr {
    margin: 4px 0;
    opacity: .1;
    height: 1px;
    background-color: white;
    border-radius: 10px;
}
#popup span {
    background-color: rgba(145, 145, 145, 0);
    border-radius: 13px;
    padding: 2px 5px;
    transition: .2s;
}
#popup span:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.options-click {
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: transparent;
    left: -2px;
    top: -2px;
}
.notfound {
    color: white;
    position: relative;
}
.notfound-title {
    font-size: 8.5vw;
    width: 60%;
}
.notfound-content {
    font-size: 4.6vw;
}
.notfound-image {
    position: absolute;
    width: 229px;
    transform: rotate(113deg);
    right: -40px;
    top: -60px;
}

.form {
    position: fixed;
    z-index: 100;
    padding: 20px;
    background-color: #1F1F1F;
    color: white;
    border-radius: 13px;
    top: 20%;
    left: 11%;
}
.form::before {
    content: '';
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    z-index: -1;
}
.form input {
    border-radius: 13px;
    border: none;
    padding: 3px 10px;
    margin-top: 5px;
    background-color:rgba(255, 255, 255, 0.1);
    display: block;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
}
.form label {
    display: block;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}
.form button {
    border-radius: 20px;
    border: none;
    background-color: #9C88FF;
    font-size: 20px;
    padding: 3px 10px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    float: right;
    margin-top: 15px;
    margin-left: 5px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    right: 10px;
    bottom: 110px;
    min-width: 50px;
    height: 50px;
    background: #9C88FF;
    transform: scale(0);
    border-radius: 50%;
    color: white;
    opacity: 0;
    overflow: hidden;
    z-index: 10000;
    -webkit-animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
            animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
  }
  
  .notification-text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
    -webkit-animation: fade-in 0.65s ease-in forwards;
            animation: fade-in 0.65s ease-in forwards;
  }
  
  @-webkit-keyframes scale-in {
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes scale-in {
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes expand {
    50% {
      width: 350px;
      border-radius: 6px;
    }
    100% {
      width: 300px;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
    }
  }
  @keyframes expand {
    50% {
      width: 350px;
      border-radius: 6px;
    }
    100% {
      width: 300px;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
  @-webkit-keyframes shake {
    0% { transform: translate(0.1px, 0.1px) rotate(0deg); }
    10% { transform: translate(-0.1px, -0.2px) rotate(-1deg); }
    20% { transform: translate(-0.3px, 0px) rotate(1deg); }
    30% { transform: translate(0.3px, 0.2px) rotate(0deg); }
    40% { transform: translate(0.1px, -0.1px) rotate(1deg); }
    50% { transform: translate(-0.1px, 0.2px) rotate(-1deg); }
    60% { transform: translate(-0.3px, 0.1px) rotate(0deg); }
    70% { transform: translate(0.3px, 0.1px) rotate(-1deg); }
    80% { transform: translate(-0.1px, -0.1px) rotate(1deg); }
    90% { transform: translate(0.1px, 0.2px) rotate(0deg); }
    100% { transform: translate(0.1px, 0.1px) rotate(0deg); }
  }
  @keyframes shake {
    0% { transform: translate(0.1px, 0.1px) rotate(0deg); }
    10% { transform: translate(-0.1px, -0.2px) rotate(-1deg); }
    20% { transform: translate(-0.3px, 0px) rotate(1deg); }
    30% { transform: translate(0.3px, 0.2px) rotate(0deg); }
    40% { transform: translate(0.1px, -0.1px) rotate(1deg); }
    50% { transform: translate(-0.1px, 0.2px) rotate(-1deg); }
    60% { transform: translate(-0.3px, 0.1px) rotate(0deg); }
    70% { transform: translate(0.3px, 0.1px) rotate(-1deg); }
    80% { transform: translate(-0.1px, -0.1px) rotate(1deg); }
    90% { transform: translate(0.1px, 0.2px) rotate(0deg); }
    100% { transform: translate(0.1px, 0.1px) rotate(0deg); }
  }