body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    background-color: #1F1F1F;
    font-family: Nunito;
}

#head {
    background-color: #1F1F1F;
    width: 100vw;
    height: 50px;
    max-height: 50px;
    top: 0;
    position: fixed;
    z-index: 2;

    padding: 0 16px;
}
.title {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

#content {
    background-color: #222222;
    height: 100%;
    width: 91%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 66px 16px 0 16px;
}
.room {
    border-radius: 13px;
    background-color: white;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 20px;
}
.room:first-of-type {
    margin-top: 0;
}
.room-name {
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
    line-height: 2;
}
.room-light-status {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
    opacity: .5;
}
.light-switch {
    border-radius: 100%;
    border: none;
    background-color: #FD1015;
    height: 35px;
    width: 35px;
    transition: .1s ease-in-out;
    position: absolute;
    right: 15px;
    top: 15px;
}
.light-switch.active {
    background-color: #57DE72;
}
.light-switch.loading {
    background-color: #222222;
}
.light-switch::before {
    content: '';
    width: 5px;
    height: 17.5px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 8.75px;
    transition: .4s;
}
.light-switch.active::before {
    width: 17.5px;
    height: 17.5px;
    border-radius: 100%;
    left: 8.75px;
    top: 8.75px;
}
.light-switch.loading::before {
    width: 17.5px;
    height: 17.5px;
    border-radius: 10%;
    left: 8.75px;
    top: 8.75px;
}

#menu {
    background-color: #4B4B4B;
    border-radius: 31px;
    height: 88px;
    width: 96vw;
    left: 2vw;
    bottom: 2vw;
    position: fixed;
    z-index: 2;
}
.icons-wrapper {
    padding: 20px 27px;
    /* padding: 0; */
    margin: 0;
    list-style: none;
    display: flex;
}
.icons-wrapper svg {
    height: 30px;
    width: auto;
    color: #9C88FF;
    /* fill: #9C88FF; */
    margin-right: 34px;
}
.icons-wrapper svg:last-of-type {
    margin-right: 0;
}

.space-between { 
    justify-content: space-between; 
}