body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    background-color: #1F1F1F;
    font-family: Nunito;
}

#head {
    background-color: #1F1F1F;
    width: 100vw;
    height: 50px;
    max-height: 50px;
    top: 0;
    position: fixed;
    z-index: 2;

    padding: 0 16px;
}
.title {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.options {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: #9C88FF;
    position: absolute;
    right: 50px;
    top: 8px;
    text-align: center;
}
.options svg {
    height: 20px;
    margin-top: 6.5px;
    fill: white;
}

#content {
    background-color: #222222;
    height: 100%;
    width: 91%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 66px 16px 0 16px;
}
.category {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    position: relative;
}
.category::after {
    position: absolute;
    content: '';
    height: 4px;
    background-color: white;
    opacity: .1;
    top: 45%;
    right: 0;
    border-radius: 10px;
}
.category-rooms::after {
    width: 75%;
}
.room {
    border-radius: 13px;
    background-color: white;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 20px;
}
.room:first-of-type {
    margin-top: 0;
}
.room-name {
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
    line-height: 2;
}
.room-light-status {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
    opacity: .5;
}
.light-switch {
    border-radius: 100%;
    border: none;
    background-color: #FD1015;
    height: 35px;
    width: 35px;
    transition: .1s ease-in-out;
    position: absolute;
    right: 15px;
    top: 15px;
}
.light-switch.active {
    background-color: #57DE72;
}
.light-switch.loading {
    background-color: #222222;
}
.light-switch::before {
    content: '';
    width: 5px;
    height: 17.5px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 8.75px;
    transition: .4s;
}
.light-switch.active::before {
    width: 17.5px;
    height: 17.5px;
    border-radius: 100%;
    left: 8.75px;
    top: 8.75px;
}
.light-switch.loading::before {
    width: 17.5px;
    height: 17.5px;
    border-radius: 10%;
    left: 8.75px;
    top: 8.75px;
}

#menu {
    background-color: #4B4B4B;
    border-radius: 31px;
    height: 88px;
    width: 96vw;
    left: 2vw;
    bottom: 2vw;
    position: fixed;
    z-index: 2;
}
.icons-wrapper {
    padding: 20px 27px;
    /* padding: 0; */
    margin: 0;
    list-style: none;
    display: flex;
}
.icons-wrapper svg {
    height: 30px;
    width: auto;
    color: #9C88FF;
    /* fill: #9C88FF; */
    margin-right: 34px;
}
.icons-wrapper svg:last-of-type {
    margin-right: 0;
}

.space-between { 
    justify-content: space-between; 
}
#backgroundOverlay{
    background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
}
#popup{
    background-color: #9C88FF;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 500;
    padding: 10px;
    border-radius: 13px;
    border-top-right-radius: 0;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    right: 83px;
    top: 42px;
    display: none;
    font-size: 18px;
}
#popup hr {
    margin: 4px 0;
    opacity: .1;
    height: 1px;
    background-color: white;
    border-radius: 10px;
}
#popup span {
    background-color: rgba(145, 145, 145, 0);
    border-radius: 13px;
    padding: 2px 5px;
    transition: .2s;
}
#popup span:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.options-click {
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: transparent;
    left: -2px;
    top: -2px;
}
.notfound {
    color: white;
    position: relative;
}
.notfound-title {
    font-size: 8.5vw;
    width: 60%;
}
.notfound-content {
    font-size: 4.6vw;
}
.notfound-image {
    position: absolute;
    width: 229px;
    transform: rotate(113deg);
    right: -40px;
    top: -60px;
}